{{!-- hbs template code for showing the details for a organization --}}
<a href="/organizations">Back to all organizations</a>

<a href="/organizations/{{organization._id}}/edit">Edit organization</a>

<a href="/organizations/{{organization._id}}/projects/new">Create Project</a> 

<h2>{{organization.name}}</h2>

{{!-- <a href="/organizations/{{organization._id}}/edit">My Organization</a> --}}

<form action="/organizations/{{organization._id}}?_method=DELETE" method="post">
    <input type="submit" value="Delete Organization">
</form>

{{#each projects}}
    <div>
        <a href="/organizations/{{../organization._id}}/projects/{{_id}}">{{name}}</a>
        <a href="/organizations/{{../organization._id}}/projects/edit{{_id}}">{{name}}</a>
    
 
    </div>
{{/each}}
