<h2>Projects</h2>

<a href="/projects/new">Add New Project</a>

{{#each projects}}
    <div>
        <a href="/projects/{{_id}}">{{name}}</a>
        <p>{{description}}</p>
        <p>{{location}}</p>
        <img src="{{imgLink}}" alt="Image of {{name}}"
       
 
    </div>
{{/each}}
