{{!-- hbs template code for showing the details for a project --}}
<a href="/projects">Back to all Projects</a>

<a href="/organizations/{{project.organizationId}}/projects/{{project._id}}/edit">Edit project</a>

<a href="/organizations/{{project.organizationId}}/projects/{{project._id}}/bids/new">Create Bid</a>

<h2>{{project.name}}</h2>

<a href="/organizations/{{project.organizationId}}/projects/new">Create Project{{name}}</a>

<form action="/organizations/{{project.organizationId}}/projects/{{project._id}}?_method=DELETE" method="post">
    <input type="submit" value="Delete Project">
</form>